<configuration>

    <contextListener
        class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="LogAppender"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{136} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="LogAppender" />
    </root>

    <logger name="ch.qos.logback" level="warn" />
    <logger name="org.apache.spark" level="warn" />
    <logger name="org.spark_project.jetty" level="warn" />
    <logger name="org.apache.hadoop.util.NativeCodeLoader" level="error" />

</configuration>